Repository yashk2000/KnightInTheNight, pull requests merged in 2020-10, with the labels that each got.

#4 Game: player moving and floor setup
  Game/Player/Player.gd
  Game/Player/Player.tscn
  Game/World.tscn
  Game/World/GrassBackground.png.import
Labels: game

#33 general: Add a readme to the project
  README.md
Labels: documentation

#36 game: Add a play-pause functionality
  Game/UI/PauseButton.gd
  Game/World.tscn
Labels: enhancement, game

#40 game: add game-over screen
  Game/Game Over/GameLost (1).png
  Game/Game Over/GameLost (1).png.import
  Game/Game Over/GameOver.gd
  Game/Game Over/GameOver.tscn
  Game/Game Over/GameOverWin.gd
  Game/Game Over/GameOverWin.tscn
  Game/Game Over/GameWon.png
  Game/Game Over/GameWon.png.import
  Game/Player/Player.gd
  Game/Player/Player.tscn
  Game/Stats.gd
  Game/World.tscn
  Game/World/Pumpkin.tscn
  Game/menu/Menu.tscn
  Game/project.godot
Labels: game

#42 game: Add restart button
  Camera2D.gd
  Enemies/Bat.gd
  Game Over/GameOver.gd
  Game Over/GameOver.tscn
  Game Over/GameOverWin.gd
  Game Over/GameOverWin.tscn
  Player/Player.gd
  Player/Player.tscn
  Stats.gd
  World.tscn
  World/Flower.gd
  menu/Menu.gd
Labels: bug, game
